-- MySQL dump 10.13  Distrib 8.4.7, for Linux (x86_64)
--
-- Host: reclutamiento-db    Database: sistema_reclutamiento
-- ------------------------------------------------------
-- Server version	11.8.5-MariaDB-ubu2404

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_candidatos`
--

DROP TABLE IF EXISTS `audit_candidatos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_candidatos` (
  `id_audit` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_candidato` bigint(20) DEFAULT NULL,
  `op` char(1) DEFAULT NULL,
  `changed_by` varchar(120) DEFAULT NULL,
  `changed_at` timestamp NULL DEFAULT current_timestamp(),
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`payload`)),
  PRIMARY KEY (`id_audit`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `audit_entrevistas`
--

DROP TABLE IF EXISTS `audit_entrevistas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_entrevistas` (
  `id_audit` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_entrevista` bigint(20) DEFAULT NULL,
  `op` char(1) DEFAULT NULL,
  `changed_by` varchar(120) DEFAULT NULL,
  `changed_at` timestamp NULL DEFAULT current_timestamp(),
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`payload`)),
  PRIMARY KEY (`id_audit`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `audit_ofertas`
--

DROP TABLE IF EXISTS `audit_ofertas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_ofertas` (
  `id_audit` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_oferta` bigint(20) DEFAULT NULL,
  `op` char(1) DEFAULT NULL,
  `changed_by` varchar(120) DEFAULT NULL,
  `changed_at` timestamp NULL DEFAULT current_timestamp(),
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`payload`)),
  PRIMARY KEY (`id_audit`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `audit_postulaciones`
--

DROP TABLE IF EXISTS `audit_postulaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_postulaciones` (
  `id_audit` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_postulacion` bigint(20) DEFAULT NULL,
  `op` char(1) DEFAULT NULL,
  `changed_by` varchar(120) DEFAULT NULL,
  `changed_at` timestamp NULL DEFAULT current_timestamp(),
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`payload`)),
  PRIMARY KEY (`id_audit`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `audit_vacantes`
--

DROP TABLE IF EXISTS `audit_vacantes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_vacantes` (
  `id_audit` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_vacante` bigint(20) DEFAULT NULL,
  `op` char(1) DEFAULT NULL,
  `changed_by` varchar(120) DEFAULT NULL,
  `changed_at` timestamp NULL DEFAULT current_timestamp(),
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`payload`)),
  PRIMARY KEY (`id_audit`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `candidatos`
--

DROP TABLE IF EXISTS `candidatos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `candidatos` (
  `id_candidato` bigint(20) NOT NULL AUTO_INCREMENT,
  `identificacion` varchar(20) NOT NULL,
  `nom_candidato` varchar(120) NOT NULL,
  `email` varchar(120) NOT NULL,
  `telefono` varchar(15) DEFAULT NULL,
  `fecha_aplicacion` date NOT NULL,
  `id_fuente` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id_candidato`),
  UNIQUE KEY `identificacion` (`identificacion`),
  UNIQUE KEY `email` (`email`),
  KEY `id_fuente` (`id_fuente`),
  CONSTRAINT `candidatos_ibfk_1` FOREIGN KEY (`id_fuente`) REFERENCES `fuentes` (`id_fuente`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER deduplicacionCandidatoBI
BEFORE INSERT ON candidatos
FOR EACH ROW
BEGIN
  IF (SELECT COUNT(*) FROM candidatos WHERE email = NEW.email) > 0 THEN
    SIGNAL SQLSTATE '45000'
      SET MESSAGE_TEXT = 'ERROR: El email ya existe para otro candidato.';
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER candidatoAIUD_I
AFTER INSERT ON candidatos
FOR EACH ROW
BEGIN
  INSERT INTO audit_candidatos(id_candidato, op, changed_by, payload)
  VALUES (
    NEW.id_candidato,
    'I',
    CURRENT_USER(),
    JSON_OBJECT(
      'identificacion', NEW.identificacion,
      'nombre', NEW.nom_candidato,
      'email', NEW.email,
      'telefono', NEW.telefono,
      'id_fuente', NEW.id_fuente
    )
  );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER candidatoAIUD_U
AFTER UPDATE ON candidatos
FOR EACH ROW
BEGIN
  INSERT INTO audit_candidatos(id_candidato, op, changed_by, payload)
  VALUES (
    NEW.id_candidato,
    'U',
    CURRENT_USER(),
    JSON_OBJECT(
      'identificacion_old', OLD.identificacion,
      'identificacion_new', NEW.identificacion,
      'nombre_old', OLD.nom_candidato,
      'nombre_new', NEW.nom_candidato,
      'email_old', OLD.email,
      'email_new', NEW.email,
      'telefono_old', OLD.telefono,
      'telefono_new', NEW.telefono,
      'id_fuente_old', OLD.id_fuente,
      'id_fuente_new', NEW.id_fuente
    )
  );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER candidatoAIUD_D
AFTER DELETE ON candidatos
FOR EACH ROW
BEGIN
  INSERT INTO audit_candidatos(id_candidato, op, changed_by, payload)
  VALUES (
    OLD.id_candidato,
    'D',
    CURRENT_USER(),
    JSON_OBJECT(
      'identificacion', OLD.identificacion,
      'nombre', OLD.nom_candidato,
      'email', OLD.email,
      'telefono', OLD.telefono,
      'id_fuente', OLD.id_fuente
    )
  );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `departamentos`
--

DROP TABLE IF EXISTS `departamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departamentos` (
  `id_departamento` bigint(20) NOT NULL AUTO_INCREMENT,
  `nom_departamento` varchar(80) NOT NULL,
  PRIMARY KEY (`id_departamento`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `entrevistadores`
--

DROP TABLE IF EXISTS `entrevistadores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entrevistadores` (
  `id_entrevistador` bigint(20) NOT NULL AUTO_INCREMENT,
  `nom_entrevistador` varchar(120) NOT NULL,
  `id_rol` bigint(20) NOT NULL,
  `telefono` varchar(15) DEFAULT NULL,
  `email` varchar(120) NOT NULL,
  PRIMARY KEY (`id_entrevistador`),
  UNIQUE KEY `email` (`email`),
  KEY `id_rol` (`id_rol`),
  CONSTRAINT `entrevistadores_ibfk_1` FOREIGN KEY (`id_rol`) REFERENCES `roles` (`id_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `entrevistas`
--

DROP TABLE IF EXISTS `entrevistas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entrevistas` (
  `id_entrevista` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_postulacion` bigint(20) NOT NULL,
  `fecha_entrevista` datetime DEFAULT NULL,
  `puntaje` decimal(4,1) DEFAULT NULL,
  `notas` text DEFAULT NULL,
  `id_estadoentrevista` bigint(20) DEFAULT NULL,
  `id_entrevistador` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id_entrevista`),
  UNIQUE KEY `uq_entrevista` (`id_postulacion`,`fecha_entrevista`),
  KEY `id_estadoentrevista` (`id_estadoentrevista`),
  KEY `id_entrevistador` (`id_entrevistador`),
  CONSTRAINT `entrevistas_ibfk_1` FOREIGN KEY (`id_postulacion`) REFERENCES `postulaciones` (`id_postulacion`),
  CONSTRAINT `entrevistas_ibfk_2` FOREIGN KEY (`id_estadoentrevista`) REFERENCES `estados_entrevistas` (`id_estadoentrevista`),
  CONSTRAINT `entrevistas_ibfk_3` FOREIGN KEY (`id_entrevistador`) REFERENCES `entrevistadores` (`id_entrevistador`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER entrevistaAIUD_I
AFTER INSERT ON entrevistas
FOR EACH ROW
BEGIN
  INSERT INTO audit_entrevistas(id_entrevista, op, changed_by, payload)
  VALUES (
    NEW.id_entrevista,
    'I',
    CURRENT_USER(),
    JSON_OBJECT(
      'postulacion', NEW.id_postulacion,
      'fecha', NEW.fecha_entrevista,
      'entrevistador', NEW.id_entrevistador
    )
  );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER entrevistaAIUD_U
AFTER UPDATE ON entrevistas
FOR EACH ROW
BEGIN
  INSERT INTO audit_entrevistas(id_entrevista, op, changed_by, payload)
  VALUES (
    NEW.id_entrevista,
    'U',
    CURRENT_USER(),
    JSON_OBJECT(
      'old_puntaje', OLD.puntaje,
      'new_puntaje', NEW.puntaje
    )
  );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER entrevistaAIUD_D
AFTER DELETE ON entrevistas
FOR EACH ROW
BEGIN
  INSERT INTO audit_entrevistas(id_entrevista, op, changed_by, payload)
  VALUES (
    OLD.id_entrevista,
    'D',
    CURRENT_USER(),
    JSON_OBJECT(
      'postulacion', OLD.id_postulacion
    )
  );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `estados_entrevistas`
--

DROP TABLE IF EXISTS `estados_entrevistas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estados_entrevistas` (
  `id_estadoentrevista` bigint(20) NOT NULL AUTO_INCREMENT,
  `nom_estado` varchar(50) NOT NULL,
  `desc_estado` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_estadoentrevista`),
  UNIQUE KEY `nom_estado` (`nom_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `estados_ofertas`
--

DROP TABLE IF EXISTS `estados_ofertas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estados_ofertas` (
  `id_estadoferta` bigint(20) NOT NULL AUTO_INCREMENT,
  `nom_estado` varchar(50) NOT NULL,
  `desc_estado` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_estadoferta`),
  UNIQUE KEY `nom_estado` (`nom_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `estados_vacantes`
--

DROP TABLE IF EXISTS `estados_vacantes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estados_vacantes` (
  `id_estadovacante` bigint(20) NOT NULL AUTO_INCREMENT,
  `nom_estado` varchar(50) NOT NULL,
  `desc_estado` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_estadovacante`),
  UNIQUE KEY `nom_estado` (`nom_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `etapas`
--

DROP TABLE IF EXISTS `etapas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etapas` (
  `id_etapa` bigint(20) NOT NULL AUTO_INCREMENT,
  `nom_etapa` varchar(50) NOT NULL,
  `desc_etapa` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_etapa`),
  UNIQUE KEY `nom_etapa` (`nom_etapa`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `fuentes`
--

DROP TABLE IF EXISTS `fuentes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fuentes` (
  `id_fuente` bigint(20) NOT NULL AUTO_INCREMENT,
  `nom_fuente` varchar(80) NOT NULL,
  `desc_fuente` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_fuente`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ofertas`
--

DROP TABLE IF EXISTS `ofertas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ofertas` (
  `id_oferta` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_postulacion` bigint(20) NOT NULL,
  `monto_oferta` decimal(12,2) NOT NULL,
  `id_estadoferta` bigint(20) NOT NULL,
  `fecha_decision` date DEFAULT NULL,
  PRIMARY KEY (`id_oferta`),
  UNIQUE KEY `uq_oferta_postulacion` (`id_postulacion`),
  KEY `id_estadoferta` (`id_estadoferta`),
  CONSTRAINT `ofertas_ibfk_1` FOREIGN KEY (`id_postulacion`) REFERENCES `postulaciones` (`id_postulacion`),
  CONSTRAINT `ofertas_ibfk_2` FOREIGN KEY (`id_estadoferta`) REFERENCES `estados_ofertas` (`id_estadoferta`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER ofertaGuardrailsBI
BEFORE INSERT ON ofertas
FOR EACH ROW
BEGIN
  DECLARE etapa_actual BIGINT;

  SELECT id_etapa INTO etapa_actual
  FROM postulaciones
  WHERE id_postulacion = NEW.id_postulacion;

  IF etapa_actual < 5 THEN
    SIGNAL SQLSTATE '45000'
      SET MESSAGE_TEXT = 'ERROR: Solo se puede emitir oferta a candidatos finalistas.';
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER ofertaAIUD_I
AFTER INSERT ON ofertas
FOR EACH ROW
BEGIN
  INSERT INTO audit_ofertas(id_oferta, op, changed_by, payload)
  VALUES (
    NEW.id_oferta,
    'I',
    CURRENT_USER(),
    JSON_OBJECT(
      'postulacion', NEW.id_postulacion,
      'monto', NEW.monto_oferta,
      'estado', NEW.id_estadoferta
    )
  );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER ofertaAIUD_U
AFTER UPDATE ON ofertas
FOR EACH ROW
BEGIN
  INSERT INTO audit_ofertas(id_oferta, op, changed_by, payload)
  VALUES (
    NEW.id_oferta,
    'U',
    CURRENT_USER(),
    JSON_OBJECT(
      'old_estado', OLD.id_estadoferta,
      'new_estado', NEW.id_estadoferta,
      'old_monto', OLD.monto_oferta,
      'new_monto', NEW.monto_oferta
    )
  );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER kpiTimeToFillAIoferta
AFTER UPDATE ON ofertas
FOR EACH ROW
BEGIN
  IF NEW.id_estadoferta = 2 AND OLD.id_estadoferta <> 2 THEN
    UPDATE vacantes v
    JOIN postulaciones p ON p.id_vacante = v.id_vacante
    SET v.time_to_fill = DATEDIFF(CURRENT_DATE(), v.fecha_creacion)
    WHERE p.id_postulacion = NEW.id_postulacion;
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER ofertaAIUD_D
AFTER DELETE ON ofertas
FOR EACH ROW
BEGIN
  INSERT INTO audit_ofertas(id_oferta, op, changed_by, payload)
  VALUES (
    OLD.id_oferta,
    'D',
    CURRENT_USER(),
    JSON_OBJECT(
      'postulacion', OLD.id_postulacion
    )
  );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `postulaciones`
--

DROP TABLE IF EXISTS `postulaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `postulaciones` (
  `id_postulacion` bigint(20) NOT NULL AUTO_INCREMENT,
  `id_candidato` bigint(20) NOT NULL,
  `id_vacante` bigint(20) NOT NULL,
  `fecha_postula` date NOT NULL,
  `id_etapa` bigint(20) NOT NULL,
  PRIMARY KEY (`id_postulacion`),
  UNIQUE KEY `uq_postulacion` (`id_candidato`,`id_vacante`),
  KEY `id_vacante` (`id_vacante`),
  KEY `id_etapa` (`id_etapa`),
  CONSTRAINT `postulaciones_ibfk_1` FOREIGN KEY (`id_candidato`) REFERENCES `candidatos` (`id_candidato`),
  CONSTRAINT `postulaciones_ibfk_2` FOREIGN KEY (`id_vacante`) REFERENCES `vacantes` (`id_vacante`),
  CONSTRAINT `postulaciones_ibfk_3` FOREIGN KEY (`id_etapa`) REFERENCES `etapas` (`id_etapa`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER postulacionAIUD_I
AFTER INSERT ON postulaciones
FOR EACH ROW
BEGIN
  INSERT INTO audit_postulaciones(id_postulacion, op, changed_by, payload)
  VALUES (
    NEW.id_postulacion,
    'I',
    CURRENT_USER(),
    JSON_OBJECT(
      'candidato', NEW.id_candidato,
      'vacante', NEW.id_vacante,
      'fecha', NEW.fecha_postula,
      'etapa', NEW.id_etapa
    )
  );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER postulacionTransicionBU
BEFORE UPDATE ON postulaciones
FOR EACH ROW
BEGIN
  
  IF NEW.id_etapa = 8 THEN
    
    SET @dummy = 1;
  
  ELSEIF NEW.id_etapa < OLD.id_etapa THEN
    SIGNAL SQLSTATE '45000'
      SET MESSAGE_TEXT = 'ERROR: No se permite retroceder de etapa.';
  
  ELSEIF NEW.id_etapa > OLD.id_etapa + 1 THEN
    SIGNAL SQLSTATE '45000'
      SET MESSAGE_TEXT = 'ERROR: Transici├│n de etapa inv├ílida (salto no permitido).';
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER postulacionAIUD_U
AFTER UPDATE ON postulaciones
FOR EACH ROW
BEGIN
  INSERT INTO audit_postulaciones(id_postulacion, op, changed_by, payload)
  VALUES (
    NEW.id_postulacion,
    'U',
    CURRENT_USER(),
    JSON_OBJECT(
      'old_etapa', OLD.id_etapa,
      'new_etapa', NEW.id_etapa
    )
  );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER postulacionAIUD_D
AFTER DELETE ON postulaciones
FOR EACH ROW
BEGIN
  INSERT INTO audit_postulaciones(id_postulacion, op, changed_by, payload)
  VALUES (
    OLD.id_postulacion,
    'D',
    CURRENT_USER(),
    JSON_OBJECT(
      'candidato', OLD.id_candidato,
      'vacante', OLD.id_vacante
    )
  );

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id_rol` bigint(20) NOT NULL AUTO_INCREMENT,
  `nom_rol` varchar(50) NOT NULL,
  `desc_rol` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_rol`),
  UNIQUE KEY `nom_rol` (`nom_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `roles_sistema`
--

DROP TABLE IF EXISTS `roles_sistema`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles_sistema` (
  `id_rolsistema` bigint(20) NOT NULL AUTO_INCREMENT,
  `nom_rol` varchar(50) NOT NULL,
  `desc_rol` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_rolsistema`),
  UNIQUE KEY `nom_rol` (`nom_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id_usuario` bigint(20) NOT NULL AUTO_INCREMENT,
  `username` varchar(80) NOT NULL,
  `hashed_pass` varchar(255) NOT NULL,
  `email` varchar(120) NOT NULL,
  `id_rolsistema` bigint(20) NOT NULL,
  `id_entrevistador` bigint(20) DEFAULT NULL,
  `activo` tinyint(4) DEFAULT 1,
  `creado_en` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`),
  KEY `id_rolsistema` (`id_rolsistema`),
  KEY `id_entrevistador` (`id_entrevistador`),
  CONSTRAINT `usuarios_ibfk_1` FOREIGN KEY (`id_rolsistema`) REFERENCES `roles_sistema` (`id_rolsistema`),
  CONSTRAINT `usuarios_ibfk_2` FOREIGN KEY (`id_entrevistador`) REFERENCES `entrevistadores` (`id_entrevistador`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary view structure for view `vCandidatosDescartados`
--

DROP TABLE IF EXISTS `vCandidatosDescartados`;
/*!50001 DROP VIEW IF EXISTS `vCandidatosDescartados`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vCandidatosDescartados` AS SELECT 
 1 AS `nom_candidato`,
 1 AS `titulo_vacante`,
 1 AS `nom_etapa`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vCandidatosEnProceso`
--

DROP TABLE IF EXISTS `vCandidatosEnProceso`;
/*!50001 DROP VIEW IF EXISTS `vCandidatosEnProceso`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vCandidatosEnProceso` AS SELECT 
 1 AS `nom_candidato`,
 1 AS `titulo_vacante`,
 1 AS `nom_etapa`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vCargaEntrevistadores`
--

DROP TABLE IF EXISTS `vCargaEntrevistadores`;
/*!50001 DROP VIEW IF EXISTS `vCargaEntrevistadores`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vCargaEntrevistadores` AS SELECT 
 1 AS `nom_entrevistador`,
 1 AS `total_entrevistas`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vConversionPorFuente`
--

DROP TABLE IF EXISTS `vConversionPorFuente`;
/*!50001 DROP VIEW IF EXISTS `vConversionPorFuente`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vConversionPorFuente` AS SELECT 
 1 AS `nom_fuente`,
 1 AS `total_postulaciones`,
 1 AS `ofertas_aceptadas`,
 1 AS `conversion_pct`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vEntrevistasSemana`
--

DROP TABLE IF EXISTS `vEntrevistasSemana`;
/*!50001 DROP VIEW IF EXISTS `vEntrevistasSemana`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vEntrevistasSemana` AS SELECT 
 1 AS `semana`,
 1 AS `id_entrevistador`,
 1 AS `total_entrevistas`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vOfertasEmitidasAceptadas`
--

DROP TABLE IF EXISTS `vOfertasEmitidasAceptadas`;
/*!50001 DROP VIEW IF EXISTS `vOfertasEmitidasAceptadas`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vOfertasEmitidasAceptadas` AS SELECT 
 1 AS `anio`,
 1 AS `mes`,
 1 AS `emitidas`,
 1 AS `aceptadas`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vTiempoMedioPorEtapa`
--

DROP TABLE IF EXISTS `vTiempoMedioPorEtapa`;
/*!50001 DROP VIEW IF EXISTS `vTiempoMedioPorEtapa`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vTiempoMedioPorEtapa` AS SELECT 
 1 AS `nom_etapa`,
 1 AS `dias_promedio`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `vacantes`
--

DROP TABLE IF EXISTS `vacantes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vacantes` (
  `id_vacante` bigint(20) NOT NULL AUTO_INCREMENT,
  `titulo_vacante` varchar(150) NOT NULL,
  `desc_vacante` text DEFAULT NULL,
  `id_departamento` bigint(20) DEFAULT NULL,
  `fecha_creacion` date NOT NULL,
  `id_estadovacante` bigint(20) DEFAULT NULL,
  `time_to_fill` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_vacante`),
  UNIQUE KEY `uk_vacante_departamento` (`titulo_vacante`,`id_departamento`),
  KEY `id_departamento` (`id_departamento`),
  KEY `id_estadovacante` (`id_estadovacante`),
  CONSTRAINT `vacantes_ibfk_1` FOREIGN KEY (`id_departamento`) REFERENCES `departamentos` (`id_departamento`),
  CONSTRAINT `vacantes_ibfk_2` FOREIGN KEY (`id_estadovacante`) REFERENCES `estados_vacantes` (`id_estadovacante`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER vacanteAIUD_I
AFTER INSERT ON vacantes
FOR EACH ROW
BEGIN
  INSERT INTO audit_vacantes(id_vacante, op, changed_by, payload)
  VALUES (
    NEW.id_vacante,
    'I',
    CURRENT_USER(),
    JSON_OBJECT(
      'titulo', NEW.titulo_vacante,
      'estado', NEW.id_estadovacante,
      'fecha_creacion', NEW.fecha_creacion
    )
  );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER vacanteAIUD_U
AFTER UPDATE ON vacantes
FOR EACH ROW
BEGIN
  INSERT INTO audit_vacantes(id_vacante, op, changed_by, payload)
  VALUES (
    NEW.id_vacante,
    'U',
    CURRENT_USER(),
    JSON_OBJECT(
      'titulo_old', OLD.titulo_vacante,
      'titulo_new', NEW.titulo_vacante,
      'estado_old', OLD.id_estadovacante,
      'estado_new', NEW.id_estadovacante
    )
  );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb3 */ ;
/*!50003 SET character_set_results = utf8mb3 */ ;
/*!50003 SET collation_connection  = utf8mb3_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`usuario_recludb`@`%`*/ /*!50003 TRIGGER vacanteAIUD_D
AFTER DELETE ON vacantes
FOR EACH ROW
BEGIN
  INSERT INTO audit_vacantes(id_vacante, op, changed_by, payload)
  VALUES (
    OLD.id_vacante,
    'D',
    CURRENT_USER(),
    JSON_OBJECT(
      'titulo', OLD.titulo_vacante,
      'estado', OLD.id_estadovacante
    )
  );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary view structure for view `vpipelinePorVacante`
--

DROP TABLE IF EXISTS `vpipelinePorVacante`;
/*!50001 DROP VIEW IF EXISTS `vpipelinePorVacante`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vpipelinePorVacante` AS SELECT 
 1 AS `id_vacante`,
 1 AS `titulo_vacante`,
 1 AS `nom_etapa`,
 1 AS `total_candidatos`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vCandidatosDescartados`
--

/*!50001 DROP VIEW IF EXISTS `vCandidatosDescartados`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb3 */;
/*!50001 SET character_set_results     = utf8mb3 */;
/*!50001 SET collation_connection      = utf8mb3_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`usuario_recludb`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vCandidatosDescartados` AS select `c`.`nom_candidato` AS `nom_candidato`,`v`.`titulo_vacante` AS `titulo_vacante`,`e`.`nom_etapa` AS `nom_etapa` from (((`postulaciones` `p` join `candidatos` `c` on(`p`.`id_candidato` = `c`.`id_candidato`)) join `vacantes` `v` on(`p`.`id_vacante` = `v`.`id_vacante`)) join `etapas` `e` on(`p`.`id_etapa` = `e`.`id_etapa`)) where `e`.`nom_etapa` = 'Rechazado' */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vCandidatosEnProceso`
--

/*!50001 DROP VIEW IF EXISTS `vCandidatosEnProceso`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb3 */;
/*!50001 SET character_set_results     = utf8mb3 */;
/*!50001 SET collation_connection      = utf8mb3_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`usuario_recludb`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vCandidatosEnProceso` AS select `c`.`nom_candidato` AS `nom_candidato`,`v`.`titulo_vacante` AS `titulo_vacante`,`e`.`nom_etapa` AS `nom_etapa` from (((`postulaciones` `p` join `candidatos` `c` on(`p`.`id_candidato` = `c`.`id_candidato`)) join `vacantes` `v` on(`p`.`id_vacante` = `v`.`id_vacante`)) join `etapas` `e` on(`p`.`id_etapa` = `e`.`id_etapa`)) where !(`p`.`id_etapa` in (select `etapas`.`id_etapa` from `etapas` where `etapas`.`nom_etapa` = 'Rechazado')) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vCargaEntrevistadores`
--

/*!50001 DROP VIEW IF EXISTS `vCargaEntrevistadores`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb3 */;
/*!50001 SET character_set_results     = utf8mb3 */;
/*!50001 SET collation_connection      = utf8mb3_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`usuario_recludb`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vCargaEntrevistadores` AS select `en`.`nom_entrevistador` AS `nom_entrevistador`,count(0) AS `total_entrevistas` from (`entrevistas` `t` join `entrevistadores` `en` on(`t`.`id_entrevistador` = `en`.`id_entrevistador`)) group by `en`.`nom_entrevistador` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vConversionPorFuente`
--

/*!50001 DROP VIEW IF EXISTS `vConversionPorFuente`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb3 */;
/*!50001 SET character_set_results     = utf8mb3 */;
/*!50001 SET collation_connection      = utf8mb3_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`usuario_recludb`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vConversionPorFuente` AS select `f`.`nom_fuente` AS `nom_fuente`,count(`p`.`id_postulacion`) AS `total_postulaciones`,sum(case when `o`.`id_estadoferta` = 2 then 1 else 0 end) AS `ofertas_aceptadas`,round(sum(case when `o`.`id_estadoferta` = 2 then 1 else 0 end) / count(`p`.`id_postulacion`) * 100,2) AS `conversion_pct` from (((`postulaciones` `p` join `candidatos` `c` on(`p`.`id_candidato` = `c`.`id_candidato`)) join `fuentes` `f` on(`c`.`id_fuente` = `f`.`id_fuente`)) left join `ofertas` `o` on(`p`.`id_postulacion` = `o`.`id_postulacion`)) group by `f`.`nom_fuente` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vEntrevistasSemana`
--

/*!50001 DROP VIEW IF EXISTS `vEntrevistasSemana`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb3 */;
/*!50001 SET character_set_results     = utf8mb3 */;
/*!50001 SET collation_connection      = utf8mb3_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`usuario_recludb`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vEntrevistasSemana` AS select yearweek(`entrevistas`.`fecha_entrevista`,1) AS `semana`,`entrevistas`.`id_entrevistador` AS `id_entrevistador`,count(0) AS `total_entrevistas` from `entrevistas` group by yearweek(`entrevistas`.`fecha_entrevista`,1),`entrevistas`.`id_entrevistador` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vOfertasEmitidasAceptadas`
--

/*!50001 DROP VIEW IF EXISTS `vOfertasEmitidasAceptadas`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb3 */;
/*!50001 SET character_set_results     = utf8mb3 */;
/*!50001 SET collation_connection      = utf8mb3_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`usuario_recludb`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vOfertasEmitidasAceptadas` AS select year(`ofertas`.`fecha_decision`) AS `anio`,month(`ofertas`.`fecha_decision`) AS `mes`,sum(case when `ofertas`.`id_estadoferta` = 1 then 1 else 0 end) AS `emitidas`,sum(case when `ofertas`.`id_estadoferta` = 2 then 1 else 0 end) AS `aceptadas` from `ofertas` group by year(`ofertas`.`fecha_decision`),month(`ofertas`.`fecha_decision`) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vTiempoMedioPorEtapa`
--

/*!50001 DROP VIEW IF EXISTS `vTiempoMedioPorEtapa`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb3 */;
/*!50001 SET character_set_results     = utf8mb3 */;
/*!50001 SET collation_connection      = utf8mb3_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`usuario_recludb`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vTiempoMedioPorEtapa` AS select `e`.`nom_etapa` AS `nom_etapa`,round(avg(to_days(curdate()) - to_days(`p`.`fecha_postula`)),2) AS `dias_promedio` from (`postulaciones` `p` join `etapas` `e` on(`p`.`id_etapa` = `e`.`id_etapa`)) group by `e`.`nom_etapa` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vpipelinePorVacante`
--

/*!50001 DROP VIEW IF EXISTS `vpipelinePorVacante`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb3 */;
/*!50001 SET character_set_results     = utf8mb3 */;
/*!50001 SET collation_connection      = utf8mb3_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`usuario_recludb`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vpipelinePorVacante` AS select `v`.`id_vacante` AS `id_vacante`,`v`.`titulo_vacante` AS `titulo_vacante`,`e`.`nom_etapa` AS `nom_etapa`,count(`p`.`id_postulacion`) AS `total_candidatos` from ((`vacantes` `v` left join `postulaciones` `p` on(`v`.`id_vacante` = `p`.`id_vacante`)) left join `etapas` `e` on(`p`.`id_etapa` = `e`.`id_etapa`)) group by `v`.`id_vacante`,`e`.`id_etapa` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-24  4:29:37
